<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style> 
    ul {
      list-style: none;
    }
    li {
      text-align: left;
    }
    a {
      font-size: large;
    }
  </style>
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <section class="app-list">
    <ul>
      <li><p><a href="/polls">A Polls Application</a></p></li>
    </ul>
  </section>
</body>
</html>